.git
.gitignore

docker-compose.dev.yml

.env
.env.*
*.key
*.pem

data
**/*.db
**/*.db-shm
**/*.db-wal
**/*.sqlite
**/*.sqlite3

**/__pycache__
**/*.pyc
**/*.pyo

frontend/node_modules
frontend/dist

.vscode
.idea
.DS_Store

*.tmp
*.bak
*.swp
